/* ******************************************* */
/* **********    Aya Soliman    ************** */
/* ******************************************* */

:root {
  --main-color: #80d6a3;
  --main-transition: 0.8s;
  --main-padding: 40px;
  --scandory-color: #f1f1f1;
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* 

/* Bootstrap media queires version 3 */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start componants */
.main-heading {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  margin: 0 auto;
}
.main-heading h3 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}
.main-heading h3::before,
.main-heading h3::after {
  content: "";
  position: absolute;
  background: var(--main-color);
  width: 40px;
  height: 2px;
  top: 12px;
}
.main-heading h3::before {
  left: -50px;
}
.main-heading h3::after {
  right: -50px;
}
.main-heading p {
  line-height: 1.8;
  color: #777;
  font-size: 14px;
  margin-bottom: 60px;
}
/* End componants */

/* --------------Start Header------------------- */
header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  header .container {
    display: block;
  }
}
@media (max-width: 767px) {
  header .container {
    display: flex;
  }
}
header .container img {
  margin-bottom: 10px;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav .menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transition: var(--main-transition);
  cursor: pointer;
}
header .container nav .menu-icon span {
  background-color: black;
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  transition: var(--main-transition);
}

header .container nav .menu-icon:hover {
  border-color: var(--main-color);
}
header .container nav .menu-icon:hover span {
  background-color: var(--main-color);
}
@media (max-width: 767px) {
  header .container nav .menu-icon {
    display: block;
  }
}
header .container nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    top: 82%;
    left: 0px;
    background: white;
    width: 100%;
    padding: 0;
  }
  header .container .menu-icon:hover + ul {
    display: flex;
  }
}

header .container nav ul li {
  position: relative;
  transition: var(--main-transition);
}
header .container nav ul li::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 13px;
  left: 13px;
  transition: var(--main-transition);
  transform: scale(0);
  transform-origin: left;
}
header .container nav ul li:hover:before {
  transform: scale(1);
}
header .container nav ul li a {
  padding: 15px;
  display: block;
  color: black;
  font-size: 16px;
  font-weight: normal;
  transition: var(--main-transition);
}
header .container nav ul li:hover a {
  color: var(--main-color);
}
header .container nav ul .active a {
  color: var(--main-color);
}
header .container nav ul .active::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: var(--main-color);
  bottom: 13px;
  left: 13px;
  transform: scale(1);
}

/* --------------End Header------------------- */

/* --------------Start Landing------------------- */
.landing {
  background-image: linear-gradient(to bottom, rgb(0 0 0 /70%), rgb(0 0 0 /70%)),
    url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 115vh;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.landing .container {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.landing .left-side {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .landing .left-side {
    text-align: center;
    margin-top: 100px;
  }
}
.landing .text h1 {
  color: var(--main-color);
  font-size: 3.4em;
  font-weight: 300;
  margin-bottom: 25px;
  margin-top: 0;
}
.landing .text p {
  color: white;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 60px;
}
.landing .left-side .links a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 35px;
  padding: 12px 26px;
  transition: var(--main-transition);
}
.landing .left-side .links a:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}
@media (max-width: 767px) {
  .landing .left-side .links a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    /* margin-bottom: 20px; */
  }
}

.landing .animate {
  width: 20px;
  height: 40px;
  border: 1px solid white;
  position: absolute;
  padding: 0 6px;
  /* margin: 20px auto; */
  bottom: 70px;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .animate span {
  width: 4px;
  height: 8px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 7px;
  /* top: 5px; */
  display: block;
  margin: auto;
  animation: moving 1s linear infinite;
}
@keyframes moving {
  0% {
    top: 5px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 5px;
  }
}
@media (max-width: 767px) {
  .landing .animate {
    bottom: 0;
  }
}
/* --------------End Landing------------------- */

/* -----------Start Service---------------- */
.services {
  padding-top: var(--main-padding);
  /* padding-bottom: var(--main-padding); */
}
.services .serv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  text-align: center;
}

.services .serv .service-box {
  margin: 0 20px 50px;
}
.services .serv .service-box i {
  color: var(--main-color);
  font-size: 50px;
  margin-bottom: 20px;
}
.services .serv .service-box h4 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.services .serv .service-box p {
  line-height: 1.8;
  color: #777;
  font-size: 14px;
}
/* -------------------End Service -----------------*/

/* -----------------Start counter-------------------  */
.counter {
  background-image: linear-gradient(to bottom, rgb(0 0 0 /75%), rgb(0 0 0 /75%)),
    url(../img/counter-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.counter .main-heading h3,
.counter .main-heading p {
  color: white;
}
.counter .counter-box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.counter .counter-box .box {
  text-align: center;
  flex-basis: 25%;
}
@media (max-width: 991px) {
  .counter .counter-box .box {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}
.counter .box i {
  color: var(--main-color);
  font-size: 50px;
  margin-bottom: 20px;
}
.counter .box span {
  color: white;
  margin-bottom: 20px;
  font-size: 38px;
  display: block;
}
.counter .box p {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 20px;
}
/* -----------------End counter-------------------  */

/* ---------------------Start Works------------------ */
.works {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.works .works-list {
  display: flex;
  justify-content: center;
}
.works .works-list ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.works .works-list ul li a {
  display: block;
  padding: 20px;
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  transition: var(--main-transition);
}
.works .works-list ul li a:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  .works .works-list ul li a {
    padding: 5px;
    font-size: 13px;
  }
}
.works .imgs-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  text-align: center;
}
.works .imgs-section .img {
  position: relative;
  transition: 0.5s;
}
.works .imgs-section .img img {
  max-width: 365px;
  margin-bottom: 20px;
}
.works .imgs-section .img .text {
  background-color: rgba(128, 214, 163, 0.85);
  font-size: 30px;
  text-transform: capitalize;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  width: 300px;
  height: 250px;
  transition: var(--main-transition);
}

.works .imgs-section .img:hover .text {
  transform: translate(-50%, -50%) scaleX(1);
}
.works .imgs-section .img .text p {
  margin: 50px 0;
  transition: 0.5s;
}
.works .imgs-section .img .text i {
  margin-bottom: 20px;
  transition: 0.5s;
}

/* ---------------------End Works------------------ */

/* -----------------Start template---------------------  */
.template {
  background-image: linear-gradient(rgb(0 0 0 /60%), rgb(0 0 0 /60%)),
    url(../img/new-latter.jpg);
  background-size: cover;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.template .container {
  position: relative;
  z-index: 3;
  text-align: center;
}
.template .container h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}
.template .container p {
  line-height: 1.4;
  color: rgb(209, 205, 205);
  font-size: 14px;
  margin-bottom: 80px;
}
.template .container a {
  display: inline-block;
  padding: 20px 40px;
  background-color: var(--main-color);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: var(--main-transition);
  border: 1px solid var(--main-color);
}
.template .container a:hover {
  background: none;
  color: var(--main-color);
}
/* -----------------End template---------------------  */

/* --------------------Start Team---------------------- */

.team {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.team .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.team .content .box {
  position: relative;
  height: 320px;
  border: 3px solid transparent;
  padding: 0;
}
.team .content .box:hover {
  border: 3px solid var(--main-color);
}
.team .content .box img {
  width: 300px;
}
.team .content .box .text-box {
  width: 300px;
  padding: 28px;
  text-align: center;
  position: absolute;
  background-color: rgb(255 255 255 /80%);
  transform-origin: bottom;
  transform: scaleY(0);
  transition: var(--main-transition);
  top: 0;
  left: 0;
}
.team .content .box:hover .text-box {
  transform: scaleY(1);
  transform-origin: bottom;
}
.team .content .box .text-box h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 5px;
}
.team .content .box .text-box h5 {
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.team .content .box .text-box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  line-height: 2.4;
  font-size: 20px;
  color: white;
  margin: 30px 0;
}
.team .content .box .text-box p {
  font-size: 12px;
  color: rgb(71, 69, 69);
  line-height: 2;
  margin-top: 10px;
}

/* --------------------End Team---------------------- */

/* --------------------Start Prices-------------------------------- */
.prices {
  background: var(--main-color);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.prices .main-heading h3,
.prices .main-heading p {
  color: white;
}
.prices .main-heading h3::before,
.prices .main-heading h3::after {
  background-color: white;
}

.prices .boxs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.prices .boxs .box {
  padding: 40px;
  text-align: center;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.prices .boxs .box:hover {
  background-color: rgb(225 225 225 /20%);
}
.prices .boxs .box h2 {
  margin: 30px;
}
.prices .boxs .box h3 {
  margin-bottom: 20px;
  font-size: 16px;
}
.prices .boxs .box h3 span {
  font-size: 40px;
}
.prices .boxs .box p {
  margin-bottom: 30px;
}
.prices .boxs .box a {
  display: inline-block;
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 20px;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: var(--main-transition);
}
.prices .boxs .box:hover a {
  opacity: 1;
  transform: translateY(0px);
}
/* --------------------End Prices-------------------------------- */

/* -------------------------Start blog------------------ */
.blog {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--scandory-color);
}
.slider ul li {
  background-color: white;
  margin: 0 20px;
  cursor: grab;
}
.slider ul li img {
  max-width: 100%;
}
.slider ul li .text-box {
  text-align: center;
  padding: 20px 10px;
}
.slider ul li .text-box h4 {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
  position: relative;
}
.slider ul li .text-box h4::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  background-color: var(--main-color);
}
.slider ul li .text-box p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.slider ul li .text-box a {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
}
/* -------------------------End blog------------------ */

/* --------------------Start testimonials-------------------- */
.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.testimonials .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 767px) {
  .testimonials .boxs {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.testimonials .boxs .box {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
.testimonials .boxs .box:nth-child(1) {
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.testimonials .boxs .box:nth-child(4) {
  border-left: 1px solid #dedede;
  border-top: 1px solid #dedede;
  position: relative;
  left: -1px;
  top: -1px;
}
.testimonials .boxs .box img {
  margin-right: 20px;
}
.testimonials .boxs .box .text-box a {
  display: inline-block;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.testimonials .boxs .box .text-box p {
  color: #777;
  font-size: 14px;
  line-height: 2;
  font-style: italic;
}
/* =======Start sponsers part=============== */
.sponsers {
  padding-top: var(--main-padding);
}
.sponsers ul {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.sponsers ul li {
  margin: 10px 5px;
  transform: scale(1);
  transition: var(--main-transition);
}
.sponsers ul li:hover {
  transform: scale(1.25);
}
/* --------------------End testimonials-------------------- */
/* ---------------------------Start Contact------------------------- */
.contact {
  background-color: var(--scandory-color);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.contact .form {
  width: 75%;
}
.contact .form form {
  text-align: end;
}
.contact .form form input,
.contact .form form textarea {
  display: block;
  outline: none;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--main-color);
  padding: 20px;
  border-radius: 5px;
  caret-color: #777;
}
.contact .form form textarea {
  height: 200px;
}
.contact .form form input[type="submit"] {
  width: fit-content;
  /* margin: 20px 0; */
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.contact .form form input[type="submit"]:hover {
  background-color: transparent;
  color: var(--main-color);
}
/* ---------------------------End Contact------------------------- */
/* --------------------Start Footer--------------------- */
.footer {
  padding: 50px 0;
  background-color: #202322;
}
.footer .container {
  text-align: center;
  color: white;
}
.footer .container a {
  display: block;
  margin-bottom: 20px;
}
/* --------------------End Footer--------------------- */
